.button {
  margin: 0 8px;
  padding: 2px 15px;
  border-radius: 8px;
  font-size: 22px;
  cursor: pointer;
  background-color: var(--primery-color);
  transition: var(--transition_data);
}

.button:hover {
  background-color: var(--hover-bg-color);
  color: var(--primery-color);
}
