.filter {
  width: 600px;
  background-color: var(--secondary-bg-color);
  border: 1px solid;
  gap: 20px;
  border-radius: 8px;
  margin: 20px auto;
  padding: 20px;
}

.formInput {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  outline: none;
}
